
<%
meta title: "hqx86",
description: "hqx86.com hackintosh builds",
keywords: %w(hackintosh macos mac osx86 osx builds hqx86.com instructions)
%>

<div class="row">
		<div class="form-group text-center">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="input-group">
          <%= form_tag(builds_path, method: "get", id:"search_build") do%>
			
					<%= text_field_tag :search, params[:search], placeholder: "Search for builds...", class: "form-control", maxlength: 200, minlength: 3 %>
          
              <% end %>
          <span class="input-group-btn">
						<button class="btn btn-primary", type="submit button", form="search_build">Go!</button>
					</span>
				</div>
				<br>				
			</div>
		</div>
  </div>


  <div class="row">
    <div class="col-md-12">      
			<div class="gallery-env">
				<div class="row">	
          <%= render partial: "builds", locals:{ builds: @builds}%>    
        </div>
      </div>        
    </div>
  </div>
  
  
<%= render 'shared/info_sec'%>


