<div class="panel panel-primary panel-custom" data-collapsed="0">
  <div class="panel-heading">
    <div class="panel-title">
      New build:
    </div>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
