
<!--    <div class="bottom_page_div show-for-medium-up" style="display:block; margin: 30px auto; width: 728px; height: 90px;">
      <img style="display:block; margin: 30px auto; width: 728px; height: 90px;" src="https://lh5.ggpht.com/NFYFP2H9CCP50vAQNLa7AtCj_mbbYmOzY978fZqd31oL5qOdvXgxU3KW8ek2VgvIOvTqWY0=w728">
    </div>
     -->
    <div class="bottom_page_div show-for-small-only " style="display:block; margin: 30px auto; width: 300px; height: 250px;"> 
      <img style="display:block; margin: 30px auto; width: 300px; height: 250px;" src=" https://lh5.ggpht.com/rArexceEo8IgTctYUUrkhYn-5LQbbyDYHSDmdn7KTY9ZQt8dQfCBVf4zeTAa6xaHiGrJo3d1=w300-h250">
    </div>
