<div class="bottom_page_div show-for-small-only " style="display:block; margin: 30px auto; width: 320px; height: 50px;"> 
  <img src="//lh6.ggpht.com/x6wxcwMSL3y7LiBXPOat8ptjMsYPLt-EEOU3Ic6XDlJJt6kUjZ9Qotgkul3mIyH3QNSYZsMl6g=w320-h50" width="320" height="50">
</div>