
<div class="bottom_page_div  " style="display:block; margin: 30px auto; width: 300px; height: 250px;"> 
  <img class="b30" style="" src="https://lh6.ggpht.com/Ab63gyKVnGwbQaj0guyJ0caGj-VugefmMd3SyzpPOX2RgCDA1tzQTY36sGI65Guw5OXdas4f5w=w303" alt=""> 
</div>