/ AddToAny BEGIN
.a2a_kit.a2a_default_style{"data-a2a-title" => "", "data-a2a-url" => ""}
  %a.a2a_button_facebook
  %a.a2a_button_twitter
  %a.a2a_button_google_plus
  %a.a2a_button_linkedin
%script{:async => "", :src => "//static.addtoany.com/menu/page.js"}
/ AddToAny END
