<div class=" radius b30">      
  <a class="twitter-timeline" href="https://twitter.com/search?q=hackintosh" data-widget-id="613036226984198145">Tweets about hackintosh</a>
  <div class="twiiter-timeline-container" 
  data-widget-id="613036226984198145" 
  data-widget-options="<%= { borderColor: '#abcdef' }.to_json %>">
</div>
</div> 


