/ Twitter timeline
%div{:style => ""}
  .twitter-timeline-container{"data-widget-id" => "627103937557082112", "data-widget-options" => { borderColor: '', chrome: 'nofooter noscrollbar transparent'}.to_json}
/ end Twitter timeline
