
<!-- Twitter timeline -->
<div style="">
  <div class="twitter-timeline-container" data-widget-id="627103937557082112" data-widget-options="<%= { borderColor: '', chrome: 'nofooter noscrollbar transparent'}.to_json %>"></div>
</div>
<!-- end Twitter timeline -->


