
<!-- Twitter timeline -->
<div class=" radius b30" style="width: 300px;">      
  <div class="twitter-timeline-container" data-widget-id="627103937557082112" data-widget-options="<%= { borderColor: ''}.to_json %>"></div>
</div> 
<!-- end Twitter timeline -->


