<div class="medium-14 columns">
  <div class="row">
    <h2 class="subheader">About</h2>
      
      <p>On this site you can find a list of tested hackintosh builds and save your time if you want to build one. If you've build something new, please share the instructions with the others :)</p>
      
      <p>If you have any ideas, questions or offers, <%= link_to "contact me here.", "/pages/contacts" %></p>
    
  </div>
</div>