<div class="medium-12 columns">
  <div class="row">
    <h2 class="subheader">About</h2>
      
      <p>On this site you can find a list of different hackintosh builds from other users. It should save your time on picking up hardware for your next build. If you've built something new, please share your experience with others :)</p>
      <p>If you have any ideas, questions, offers or you need help with picking up hardware that fits your budget <%= link_to "contact us here.", contact_us_path %></p>
    
  </div>
</div>