<div class="medium-12 columns">
  <div class="row">
    <h2 class="subheader">About</h2>
      
      <p>Nothing's here yet.</p>
      <p>If you have any ideas, questions, offers or you need help with picking up hardware for your build <%= link_to "contact us here.", contact_us_path %></p>
    
  </div>
</div>