
  <div class="row">
    <div class="col-sm-12">
    <h2 class="subheader">About</h2>
      
      <p>Here you can find hackintosh builds of other users. It supposed to save your time if you decide to build one. If you build something unique please share your experience with others by <%= link_to "adding your build to collection", new_build_path %> .</p>
    
  </div>
</div>