<div class="medium-12 columns">
    
  <div class="row">
    <h2 class="subheader">Notes</h2>
  
    <p class="panel callout">Some fields require a few minutes to be updated. If you created a record and then decided to make some edits, just wait for a few minutes after making changes to see results.</p>
  
    <h4 class="subheader">All the required info about markdown text formatting can be found here: <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown-Cheatsheet</a></h4>
    <hr/>
    
    <h4 class="subheader">Links</h4>
    <p>All links are autodetected so you can just paste it to your text and the url/text becomes clickable.</p>
    <hr/>

    <h4 class="subheader">Images</h4>
    <p>To add images to your post upload them somewhere like <a href="http://imgur.com/">http://imgur.com/</a></p>
    <p>Then just use markdown syntax to add them to your post:</p>
    <p><img src="http://i.imgur.com/ne06IGL.png"></p>
    <p>For more info check <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#images">"Markdown Cheatsheet ~ Images"</a></p>
    <hr/>
    
    <h4 class="subheader">Video</h4>
    <p>To add a video to your post just place an iframe inside a <code>div</code> with a class <code>flex-video</code></p>
    <p><img src="http://i.imgur.com/y1PjI8H.png"></p>
    <p>To remove dark spots on top and bottom of a video use the following class <code>flex-video widescreen</code>
    <p>For more info check out this docs <a href="http://foundation.zurb.com/docs/components/flex_video.html">http://foundation.zurb.com/docs/components/flex_video.html</a></p>
  
 <br/>

    </div>
</div>