<div class="row">
  <div class="medium-7 large-centered columns ">
    <div class="panel callout">
    <h1>Thanks for your message</h1>
    <p>We'll get back to you soon.</p>
    <%= link_to "Home page", root_path %>
  </div>
  </div>
</div>