
<%
meta title: "hqx86",
description: "hqx86.com hackintosh builds",
keywords: %w(hackintosh macos mac osx86 osx builds hqx86.com)
%>


  <div class="row">
    <div class="col-md-12">      
			<div class="gallery-env">
				<div class="row">	
          <%= render partial: "posts", locals:{posts: @posts}%> 
        </div>
      </div>        
    </div>
  </div>
  
  <%= render 'shared/info_sec'%>