- meta title: "hqx86",
  description: "hqx86.com hackintosh builds board",
  keywords: %w(hackintosh macos mac osx86 osx builds hqx86.com)
.row
  .col-md-12
    .gallery-env
      .row
        = render partial: "posts", locals:{posts: @posts}
= render 'shared/info_sec'
