<div class="row">
  <div class="medium-14 columns">		  
  	<div class="row">
  		<div class="large-14 columns">
  	    <h5 class="subheader">New post:</h5>
  		</div>
  	</div>
    <%= render 'form' %>
  </div>
</div>