/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

// .top-bar,
// .top-bar-section li:not(.has-form) a:not(.button),
// .top-bar .name h1,
// .top-bar .name h2,
// .top-bar .name h3,
// .top-bar .name h4,
// .top-bar .name p,
// .top-bar .name span,
// .top-bar .name {
//   height: 1.8125rem;
//   line-height: 1.8125rem;
// }

// .top-bar-section ul li > a{
//   padding: 0 0 12px 0.9375rem;
// }


//
//.sidebar{
//
//  width: 330px;
//  float: right;
//  display: block;
//  margin-top: 1em;
//}


//.sidebar{
//  position: relative;
//  float: left;
//  width: 330px;
//  margin-left: -330px;
//}
//


//.sidebar {
//  float: left;
//  width: 330px;
//  display:block;
//}
.sidebar {
  float: right;
  width: 330px;
}
///* media queries */
@media only screen and (min-width: 40.063em){
  .row{
    width:  50.063em;
  }
}

@media only screen and (min-width: 64.063em){
  .row{
    width: 64.063em;
  }
}

@media only screen and (min-width: 90.063em){
  .row{
    width: 90.063em;
  }

}

@media only screen and (min-width: 120.063em){
  .row{
    width: 120.063em;
  }
}

///* end media queries */

.c_counter{
  margin: 0px;
}


.form_wrapper{
  background-color:#fff;
  box-shadow: 0px 0px 5px #CFCFCF;
  margin-bottom:10px;
}

.auth-box{
  width: 300px;
  display: block;
  margin: auto;
}

body{
  background-image: url(bg.png);
}

.uc{
  text-transform: uppercase;
}

/* labels and colors */
.stat_success{
	color: #43AC6A;
  text-transform: uppercase;
}

.stat_warn{
	color: #f08a24;
}

.stat_other{
	color: #6E68D1;
}

.center-v{
  padding-top: 10vh;
}

#mini{color: #44D1FF;}
#mid{color: #EB7A65;}
#pro{color: #F73753;}
#laptop{color: #6E68D1;}

.mini{color: #44D1FF;}
.mid{color: #EB7A65;}
.pro{color: #F73753;}
.laptop{color: #6E68D1;}

.success{color:#43AC6A;}
.notice{color:#a0d3e8;}
.other, .del_link{color:#c6c6cf;}

.emphasize{
	color: #F1684D;
}

.grayed {
  color: #6f6f6f;
}

.custom_btn{
  background-color: #484659;
}




.user_info, .edit_user{
  font-size: 13px;
}


section{
  padding-bottom: 30px;
}

.row{
    margin-top: 10px;
}

.items {
	background-color: #f3f3f3;
	font-size: 12px;
  margin: 0px auto 3px auto;box-shadow: 0px 0px 5px #CFCFCF;
  
  a{
    color: #222;
  }
}

ul.pagination{
  margin-top: 1.25rem;
}

.admin-items {
	background-color: #f3f3f3;
	font-size: 12px;
  margin: 0px auto 3px auto;
  padding: 0px;
  margin-bottom: 5px;
}


.label-link, .label-link:hover, .label-link:focus{
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  margin-bottom: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: 0.25rem 0.5rem 0.25rem;
  font-size: 0.6875rem;
  background-color: #008CBA;
  color: #FFFFFF;
  float: right;
  margin-left: 1px;
}


.sub-nav{
    margin: -0.25rem 0 0.6rem;
    
    .button{
       display:inline-block;
       margin:0;
       height: 22px;
       padding:3px 10px 0px 10px;
       font-size: 0.8rem; 
    }
}


select{
  outline: none;
}

div.show {
  margin: 0 auto 0 0 !important;
  max-width: 62.5rem;
  width: 100%;
}

/* new and edit */
#build_body{
  font-size: 13px;
}

/* show */
ul.item_show{
	background-color: #f3f3f3;
	font-size: 12px;
  padding: 0 5px;
  box-shadow: 0px 0px 5px #CFCFCF;
}


/* posts */
.post_info{
  background-color: #f3f3f3;
  font-size: 12px;
  margin: 0px auto 3px auto;
  box-shadow: 0px 0px 5px #CFCFCF;
  
  li{
    margin-left: 0.5rem;
  }
  
  a{
    color: #008CBA;
  }
}

.post_wrapper{
  margin-bottom: 40px;

  h3.subheader a{
    color: #6f6f6f;
  }
  
  .category{
    background-color: #6e679f;
  }
  
//  img{
//    padding-bottom: 5px; //should probably be removed
//    width:100%;
//    height:auto;
//  }
  
  .omission{
    color: #F1684D;
      &:hover{
        color: #F1684D;
    }
  }
}

.not_published{
  opacity: 0.5;
}
/* end posts */

/* markdown styling */
.installation_notes, .post_wrapper{
  p,h1,h2,h3,h4,h5,h6{
    word-wrap: break-word;
  }
  
  li p{
    margin-bottom: 0;
  }
  
  img{
    max-width:100%;
    height: auto;
  }
  
  table{
    width: 100%;
  }
  a{
    color: #008CBA;
  }
}

.installation_notes {
  p, li{
	  font-size: 13px;
  }
}

.post_content {
  p, li, dt, dd{
	  font-size: 14px;
  }
}

.excerpt p{
  font-size: 14px;
}

.img_center{
  display:block;
  margin: auto;
}

.header_img{
  margin: 3px 0 10px 0;
}
/* end markdown styling */

.about p, .contact p {
  font-size: 13px;
}

/* tags */
.tags, .tags_cloud{
  line-height: inherit;
  text-decoration: none;
  font-size: 90%;
}
.tags{
  margin: 15px 0;
}
/* endtags */



.border-dotted {
  border: 1px dotted #A4A4A4;
  padding: 1.25rem;
  border-radius: 3px;
}
.b30 {
  margin-bottom: 30px !important;
}

img {
  border-radius: 3px;
}

input.search{
  border-radius: 3px; 
}




/* footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  border-top: 1px solid #EAEAEA;
  text-align: center;
  background-color:#fff;
  opacity: 0.9;
}

/* comments */

.comments{ 
	font-size: 12px;
	padding: 0;	
}
.comment{
	margin: 10px auto;
	background-color: #F7F7F7;

	padding: 10px;
  box-shadow: 0px 0px 5px #CFCFCF;
  word-wrap: break-word;
}

.comments-admin{
	font-size: 12px;
	padding: 0;
  margin:0;
}
.comment-admin{
	margin: 3px auto;
	background-color: #fbf5e8;
	border-right: 3px solid #ffb520;
}

#comment_ta{
	margin: 3px auto;
	font-size: 12px;
}


.hidden{
  display:none;
}
