/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

// .top-bar,
// .top-bar-section li:not(.has-form) a:not(.button),
// .top-bar .name h1,
// .top-bar .name h2,
// .top-bar .name h3,
// .top-bar .name h4,
// .top-bar .name p,
// .top-bar .name span,
// .top-bar .name {
//   height: 1.8125rem;
//   line-height: 1.8125rem;
// }

// .top-bar-section ul li > a{
//   padding: 0 0 12px 0.9375rem;
// }

body{
  background-image: url(http://i.imgur.com/xj4Zlxi.png);
}
.uc{
  text-transform: uppercase;
}

/* labels and colors */
.stat_success{
	color: #43AC6A;
  text-transform: uppercase;
}

.stat_warn{
	color: #f08a24;
}

.stat_other{
	color: #6E68D1;
}

.center-v{
  padding-top: 10vh;
}

#mini{color: #44D1FF;}
#mid{color: #EB7A65;}
#pro{color: #F73753;}
#laptop{color: #6E68D1;}

.mini{color: #44D1FF;}
.mid{color: #EB7A65;}
.pro{color: #F73753;}
.laptop{color: #6E68D1;}

.success{color:#43AC6A;}
.notice{color:#a0d3e8;}
.other{color:#c6c6cf;}





.custom_btn{
  background-color: #484659;
}



/* media queries */
@media only screen and (min-width: 641px) and (max-width: 1025px) {
 .medium-9{
    width: 100%;
  }
  .right_panel{
    display: none;
  }
  .row{
    max-width:70em;
    margin: 0;
    width: 100%;
  }
} 

@media only screen and (min-width: 1025px)  { 
 .row{
   max-width:70em;
 }

}

@media only screen and (min-width: 1441px) {
 .row{
   max-width:70em;
 }
} 

section{
  padding-bottom: 30px;
}

.row{
    margin-top: 10px;
}

.items {
	background-color: #f3f3f3;
	font-size: 12px;
  margin: 0px auto 3px auto;box-shadow: 0px 0px 5px #CFCFCF;
  
  a{
    color: #222;
  }
}

ul.pagination{
  margin-top: 1.25rem;
}

.admin-items {
	background-color: #f3f3f3;
	font-size: 12px;
  margin: 0px auto 3px auto;
  padding: 0px;
  margin-bottom: 5px;
}



.emphasize{
	color: #F1684D;
}

.grayed {
  color: #6f6f6f;
}

.label-link, .label-link:hover, .label-link:focus{
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  margin-bottom: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: 0.25rem 0.5rem 0.25rem;
  font-size: 0.6875rem;
  background-color: #008CBA;
  color: #FFFFFF;
  float: right;
  margin-left: 1px;
}


.sub-nav{
    margin: -0.25rem 0 0.6rem;
}


select{
  outline: none;
}

div.show {
  margin: 0 auto 0 0 !important;
  max-width: 62.5rem;
  width: 100%;
}

/* new and edit */
#build_body{
  font-size: 13px;
}

/* show */
ul.item_show{
	background-color: #f3f3f3;
	font-size: 12px;
  padding: 0 5px;
  box-shadow: 0px 0px 5px #CFCFCF;
}

.installation_notes {
  
  p,h1,h2,h3,h4,h5,h6{
    word-wrap: break-word;
  }
  
  p, li{
	  font-size: 13px;
  }
  
  li p{
    margin-bottom: 0;
  }
  
  img{
    max-width:100%;
    height: auto;
  }
  
  table{
    width: 100%;
  }
}

.border-dotted {
  border: 1px dotted #A4A4A4;
  padding: 1.25rem;
  border-radius: 3px;
}
.b30 {
  margin-bottom: 30px !important;
}

img {
  border-radius: 3px;
}

input.search{
  border-radius: 3px; 
}

/* footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  border-top: 1px solid #EAEAEA;
  text-align: center;
  background-color:#fff;
}

/* comments */

.comments{ 
	font-size: 12px;
	padding: 0;	
}
.comment{
	margin: 3px auto;
	background-color: #fbf5e8;
	border-right: 3px solid #ffb520;
	padding: 3px;
  box-shadow: 0px 0px 5px #CFCFCF;
}

.comments-admin{
	font-size: 12px;
	padding: 0;
  margin:0;
}
.comment-admin{
	margin: 3px auto;
	background-color: #fbf5e8;
	border-right: 3px solid #ffb520;
}


#comment_ta{
	margin: 3px auto;
	font-size: 12px;
}
