/**
 *
 * Apply Here your Custom CSS
 *
*/

input:invalid {
    box-shadow:none;
    -moz-box-shadow: none;
}

#mini{color: #44D1FF;}
#mid{color: #EB7A65;}
#pro{color: #F73753;}
#laptop{color: #6E68D1;}
#success{color: #00a651;}
#notice{color: #FF9600;}
#problem{color: #CC2424;}
#other{color: #c6c6cf;}
.tag a{color: #fff;}


body {
	padding-top: 70px;
	background-image: url("bg.png");
}
.au-form{
  margin: 0 auto;
  width:300px; margin-top: 150px;
}
.au-form-marg{
 
}


p,h1,h2,h3,h4,h5,h6{
  word-wrap: break-word;
}
.build_info{
  color: #5D5D5D;
  border: 1px solid #DCDCDC;
  padding: 7px 7px 7px 0px;    
  margin: 0px 0px 10px 0px;
}

.installation_notes, .about{
  color: #5D5D5D;  
}
.installation_notes a, .post_content a, .about a, footer a{
    color: #21a9e1;
}
.installation_notes img{
  max-width: 70%;
  height: auto;
}


.other_hw img{
  display: none;
}
.other_hw *{
  font-size: 12px;
}


.panel-custom{
  background-color: #F5F5F5;
}

ul.build_hw{
  list-style: none;
  padding-left: 0px;      
}

.comments-list > li{
  padding: 15px 15px 15px 0px;
}


.about p{
  font-size: 14px;
}

.item{

}

.album{
	
}

.gallery-env article.album .album-info {
    padding: 7px; /* can be replaced to 10 */
/*     border-right: 5px solid #EF7753; */
}

.gallery-env article.album .album-info .label, .tag{
	padding: 1px 10px;
}

.gallery-env article.album .album-info h4{
	margin: 0px;
}
.gallery-env article.album .album-info ul{
	margin: 5px 0px 0px 0px;
	padding: 0px;
}
.gallery-env article.album .album-info li{
	display: inline-block;
	margin-right: 5px;
}

.gallery-env article.album {
    margin-bottom: 10px;
}

.gallery-env article.album {
    border: 1px solid #DCDCDC;
}

li.status{
  text-transform: uppercase;
}

/* bootstrap custom */
.tt-menu{
    width: 100%;
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.input-group-addon, .input-group-btn{
  vertical-align:top;
}
.tt-suggestion{
  color: #373e4a;
}
div.tt-selectable:hover{
  background-color: #2292D8;
  color: #fff;
}
