<p>Hi, <%= @user.username %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

---<br/>
<a href="https://twitter.com/hqx86">@hqx86</a><br/>