<!-- Footer -->
<footer>
  <small class="cont">&copy; 2015 | <%# link_to "about", "/pages/about" %> <%= link_to "contact us | request a build", contact_us_path %> </small> 
    <!-- <a href="https://www.digitalocean.com/?refcode=f56af9eef5cc"><img class="do" src="<%# asset_path('do.png') %>" /></a> -->
</footer>
<!-- end Footer -->