<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" ><span class="emphasize">hq</span>x86</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Logged is as user@example.com</a>
        <ul class="dropdown">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/">Home</a></li>
      <!-- <li><a href="#">About</a></li> -->
      <li><%= link_to 'Add new build', new_build_path, {:style=>"color: #817AFF;"}%></li>
    </ul>
  </section>
</nav>
